<header>
    <nav class='top-nav'>
        <div class='navigation-container'>
            <a href='/'><img class='logo' src='/resources/tm_logo.png'></a>
            <div class='button-container'>
                <a href='/official-campaigns/2022/Spring/?player=ESC_BUTTON&player=CTRL_BUTTON&player=bubment'><button
                        class='custom-button'>CAMPAIGN</button></a>
            </div>
        </div>
    </nav>
</header>