@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --site-background: #f3f3f3;
    --navigation-background: #0f2172;
    --navigation-background-light: #2447e6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--site-background);
    line-height: 1;
    font-size: 1em;
}

nav {
    background: var(--navigation-background);
    padding: 0 1.5em;
    overflow: hidden;
    height: 5em;
}

.logo {
    max-height: 4.5em;
    padding: 0.25em;
}