.main-table {
    width: 70%;
    margin: 0 auto;
    text-align: center
}

.header-track {
    width: 22%;
}

.header-player {
    width: 26%;
}

/* [TIPP #5]: Általában kerülendőek a nagyon általános selectorok (pl.: table,div,p,stb.) */
/* Ha a netről lopsz valahonnan megoldást (w3-ra ez különösen igaz) ott mindig érdemes átirogatni ezeket a selectorokat nehogy a */
/* honlap olyan részeit is beformázza a cucc, amit nem kéne  */

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}

.best-time{
    font-weight: bold;
    color: lightseagreen;
}